# Base files to exclude
/_site
Gemfile.lock
.DS_Store
.env
*/__pycache__
*.pyc
~$*
**/package-lock.json
**/node_modules
*/venv

# Workshop
**/.bob	

# Lab 2 exclusions
/lab-2-dataset-powered-website/acme-analytics

# Lab 3 exclusions
/lab-3-agent-builder-custom-mode/acme-analytics/node_modules
/.bob/rules-agent-builder
/lab-3-agent-builder-custom-mode/pandas-mcp-server/toolkit.yaml
/lab-3-agent-builder-custom-mode/scripts
lab-3-agent-builder-custom-mode/agents/dataset_qa_agent.yaml
/lab-3-agent-builder-custom-mode/agents
/lab-3-agent-builder-custom-mode/docs

# Lab 4 exclusions
/lab-4-agent-ops/shima-env-tests
/lab-3-agent-builder-custom-mode/acme-analytics/server
/.bob/skills
